<footer class="bg-black mt-20">
  <div
    class="py-8 flex flex-col-reverse gap-6 md:gap-0 md:flex-row items-center"
  >
    <div class="flex-1"></div>
    <p class="text-white text-xs max-w-[50ch] text-center">
      Gracias por visitar mi espacio. ¡Espero que encuentres algo que resuene
      contigo!
    </p>
    <aside class="flex flex-1 justify-end items-center mr-10">
      <a
        href="https://tbot.xyz/lumber/"
        target="_blank"
        class="bg-purple flex rounded-xl items-center px-4 py-1 pr-1"
      >
        <p class="text-sm">Mi juego<br /> favorito</p>
        <img src="/icons/play.png" alt="play" />
      </a>
    </aside>
  </div>
</footer>
